{% extends 'SelectByID.html' %}

{% block selectByIDTitle %}Select Car by ID{% endblock %}

{% block formID %}"getCarID"{% endblock %}

{% block idInputLabel %}Car ID{% endblock %}

{% block idInputID %}"carID"{% endblock %}

{% block idHelpMessage %}If the result row is filled with "NULL", the car ID is invalid.{% endblock %}

{% block tableColumnName %}

    <th scope="col">Manufacturer</th>
    <th scope="col">Model</th>
    <th scope="col">Trim</th>
    <th scope="col">Color</th>
    <th scope="col">Year</th>
    <th scope="col">Condition</th>
    <th scope="col">Mileage</th>
    <th scope="col">Weight</th>
    <th scope="col">Price (CN $)</th>


{% endblock %}

{% block tableBody %}
    <td id="manufacturerResult"></td>
    <td id="modelResult"></td>
    <td id="trimResult"></td>
    <td id="colorResult"></td>
    <td id="yearResult"></td>
    <td id="conditionResult"></td>
    <td id="mileageResult"></td>
    <td id="weightResult"></td>
    <td id="priceResult"></td>
{% endblock %}